<div class="content">
  <p>When I was young I thought I would be capable of being a good freelancer. I also thought that I would be able to develop my own apps. After some failures I figured I didn't have the required experience at that specific step of my career. I don't regret the time invested, though, as I learned a lot of skills that actually helped me at the jobs I got later on.</p>
  <p>It was during this time when I had my first big contact with open source technologies, but sadly after that I ended up accepting jobs where I could not work with open source at all.</p>
  <p>During my time at Vodafone Cloud I decided that I should give up the idea of working on side-projects, as I wanted to focus more on my day-job. This changed in 2022, after quitting Kape, when I decided to start Gheo Tech. The big difference is that now I actually have the experience required to push my goals.</p>
</div>
