<div class="content">
  <p>The technologies I am using now are:</p>
  <ul>
    <li>Rust Front-End: <a target="_blank" href="https://yew.rs/">Yew</a>
      or <a target="_blank" href="https://sycamore-rs.netlify.app/">Sycamore</a>, paired with 
      <a href="https://bulma.io/">Bulma</a>
    </li>
    <li>Rust Back-End: <a target="_blank" href="https://actix.rs/">Actix</a>
      Rust smart contracts: Polkadot, Solana</li>
    <li><a target="_blank" href="https://vyper.readthedocs.io/en/stable/index.html">Vyper</a>
      smart contracts: EVM-compatible chains (Polygon, Emerald)</li>
    <li>Rust operations on EVM smart contracts (call/deploy), using 
      <a target="_blank" href="https://docs.rs/crate/ethers/latest">ethers-rs</a> or 
      <a target="_blank" href="https://docs.rs/web3/latest/web3/">rust-web3</a>
    </li>
  </ul>

  <p>
  I would like to do everything with Rust, but some compromises are still required at this point.
  For example, EVM chains are still popular, so languages like Solidity and Vyper are still required.
  I prefer Vyper, as the code it produces is a lot cleaner. In the case of Front-End projects, Rust
  can already hold water and it will actually have better performance than JavaScript alternatives.
  The only blocker is at the moment calling Rust smart contracts from Front-End, as most modern chains
  focus their client SDKs on JavaScript.
  </p>

  <p>Other technologies that I am still using:</p>
  <ul>
    <li>Linux: Mostly Arch, but also Fedora</li>
    <li>Cloud Technologies: GCP, AWS</li>
    <li>Containerization: Docker, Podman</li>
    <li>Container Orchestration: Kubernetes</li>
  </ul>
</div>
