<div class="content">
  <p>Work together with customers to support their business:</p>
  <ul>
    <li>Guide customers and partners to develop their crypto business</li>
    <li>Design and architect software and infrastructure solutions based on customer requirements</li>
    <li>Develop applications that support the customer's business</li>
  </ul>
  <p>Slowly developing my own apps:</p>
  <ul>
    <li>Constantly research the market to come with new dApp ideas</li>
    <li>Design and architect new blockchain apps</li>
    <li>Research the legal and accounting requirments of owning a crypto business</li>
    <li>Create proof of concepts for new applications</li>
    <li>(optional) actually develop and deploy an app and make money</li>
  </ul>
</div>
