<div class="content">
  <p>The technologies I worked with at IBM are:</p>
  <ul>
    <li>Windows (this was the only time in my entire career when I actually used Windows for development)</li>
    <li>Java Development
      <ul><li>Java EE</li><li>Hibernate</li><li>JSF</li><li>PrimeFaces</li><li>SOAP Web Services</li></ul>
    </li>
    <li>Java Server installation & configuration (Websphere)</li>
    <li>Linux Server Administration 
      <ul><li>Apache2</li><li>Postfix</li><li>Dovecot</li><li>MySQL</li></ul>
    </li>
  </ul>
</div>
