<div class="content">
  <h5>On the Java EE project:</h5>
  <ul>
    <li>Manage my development environment (probably biggest challenge of that project).</li>
    <li>Participate in daily standups with German colleagues.</li>
    <li>Travel every few months to Cologne, to interact with the customer's team at their headquarters</li>
    <li>Fix bugs on production code.</li>
  </ul>
  <br/>
  <h5>On the Linux project:</h5>
  <ul>
    <li>Troubleshoot Linux systems, including Web, DB and mail servers.</li>
    <li>Trace errors manually by analysing thousands of archives located on multiple servers.</li>
  </ul>
</div>
