<div class="content">
  <p>The technology stack I used hands-on in Kape is:</p>
  <ul>
    <li>Most used languages: Go, Ansible, Bash</li>
    <li>Linux: networking, hardening, troubleshooting for Arch, Gentoo, Fedora, Ubuntu</li>
    <li>Service, image and container management: Docker, Podman</li>
    <li>Cloud services: Kubernetes, AWS, GCP</li>
  </ul>
  <p>Some notable technical achievements that I had are:</p>
  <ul>
    <li>architected and implemented One Infrastructure: a multi-tenant private cloud of edge nodes offering VPN services</li>
    <li>redesigned and rewrote the entire authentication mechanism for VPN services, improving security and scalability</li>
    <li>rewrote all proxies (previously using Squid) in Go, reducing the CPU and memory usage by 90%</li>
    <li>improved the security, the performance and lowered the cost of all VPN servers for CyberGhost, ZenMate and PIA</li>
    <li>wrote a WireGuard API/daemon and added WireGuard support for CyberGhost and PIA, resulting for most users in a 100% performance increase of the VPN service and in a huge boost for the company image</li>
    <li>added obfuscation and hidden proxies for API calls, offering customers from blocked locations (specific countries, universities, airports) the possibility to use the VPN service</li>
  </ul>
</div>
