<div class="content">
  <p>The most notable duties and responsibilities I has in Kape are:</p>
  <ul>
    <li>architect/designing the infrastructure of servers offering VPN 
      services for multiple VPN companies</li>
    <li>writing automation for server deployment, automatic upgrades and 
      self healing mechanics</li>
    <li>identifying security issues and hardening existing solutions 
      (both for physical servers and cloud platforms)</li>
    <li>writing daemons and microservices performing network operations 
      and interacting with the kernel</li>
    <li>leading teams of engineers and developers managing and further developing 
      the VPN server solution</li>
    <li>participate in multiple Due Diligence processes with the scope of assessing the 
      technology of specific companies</li>
  </ul>

  <p>The internal name of the biggest project I designed and implemented is "One Infrastructure", which is a private cloud
of edge nodes, hosting the VPN servers for multiple Kape companies (Private Internet Access, CyberGhost, ZenMate).
The network is offering multiple VPN protocols on over 50k IPs and is currently managing over 1M active VPN
connections.</p>
  <p>One Infrastructure offers end-to-end server support for companies selling B2C VPN services. The entire system was
designed to be modular and scalable, by following modern microservice best practices. The main components of
this system are:</p>
  <ul>
    <li>VPN Server (encrypted physical servers managing services on multiple IPs)</li>
    <li>Automated server deployment, certificate management and upgrade mechanisms for VPN servers</li>
    <li>Monitoring of the VPN servers (in-house monitoring agents, collectors and dashboards)</li>
    <li>VPN Authentication (for all VPN protocols and for also for in-house Proxies)</li>
    <li>Load Balancer (which is always serving the best servers to all VPN clients)</li>
    <li>Management Dashboard (a portal that allows you to manage the fleet via GUI, API and SDK)</li>
  </ul>
</div>
