<div class="content">
  Responsibilities in the first two years:
  <ul>
    <li>Communicating with German customers</li>
    <li>Monitoring, troubleshooting, solving incidents</li>
    <li>Modifying production setup and deploying software to prod</li>
    <li>Applying permanent fixes and creating automations</li>
    <li>Knowledge Sharing - Creating documantation and presentations</li>
    <li>Reviewing the work of colleagues</li>
  </ul>
  Responsibilities in the last year:
  <ul>
    <li>Escalation point for German customers</li>
    <li>Frequent calls with customers, vendors, solution architects</li>
    <li>Final decission on approvement of assessment plans for complex changes</li>
    <li>Building Proof Of Concept environments</li>
    <li>Creating presentations and labs</li>
  </ul>
</div>
