<div class="content">
  In the first two years I worked with the proprietary cloud technologies that were used to build the Vodafone Private Cloud and to provide the Vodafone Managed Hosting services. The tech stack was:
  <ul>
    <li>VMware ESXi, VMware vCenter</li>
    <li>RHEL 6 & RHEL 7</li>
    <li>Microsoft Windows Server</li>
    <li>Symantec NetBackup</li>
  </ul>
  In the last year I started to research new technologies for a future cloud and created a POC for an open-source private cloud. The tech stack used was:
  <ul>
    <li>Private Cloud for VMs: Openstack, QEMU/KVM, Ceph</li>
    <li>Automation: Ansible, Bash</li>
    <li>Containerization and Orchestration: Docker, Kubernetes</li>
    <li>Monitoring, Logging: Prometheus, Grafana, ELK</li>
    <li>Linux networking for physical switches: Cumulus Linux, BGP, EVPN</li>
  </ul>
</div>
